
body {
    background-image: url('/img/blackat-background-thin.png');
    background-repeat: no-repeat;
}
h1, h2, h3, h4, h5, select, input  {
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
}
