body {
  background-image: url('../public/img/blackat-background-thin.png');
  background-repeat: no-repeat;
  font-size: 1.4rem;
}
h1,
h2,
h3,
h4,
h5,
select,
input, button {
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
}

header {
  position: relative;
  padding-top: 2rem;
  padding-left: 4rem;
  z-index: 10;
}

main {
  display: grid;
  grid-template-columns: 18em auto;
  margin: 0 2em;
  background-image: url('../public/img/blackat-trim-flip.png');
  background-size: 260px;
  background-repeat: no-repeat;
  padding-top: 100px;
  margin-bottom: -100px;
  position: relative;
  top: -100px;
}

.mobile-only {
  display:none;
}

@media (max-width: 700px) {
  main {
    display: block;
  }
  .mobile-only {
    display: block;
  }
}

footer {
  margin: 2rem;
}

#sides {
  width: 15em;
  display: flex;
  padding: 0 3rem;
}

#sides button {
  width: 50%;
}
