# dependencies
node_modules

# production
/client/build
/client/public/img/cards
/client/public/data
/client/.parcel-cache

# misc
.DS_Store
npm-debug.log*
.parcel-cache

# CDK asset staging directory
.cdk.staging
cdk.out
