.card-tile {
  margin: 0.6rem;
  overflow: visible;
  height: 28rem;
  width: 20rem;
}

.card-tile img {
  position: relative;
  aspect-ratio: 300 / 419;
  width: 20rem;
  height: auto;
  border-radius: 1rem;
}

.card-tile img:hover {
  aspect-ratio: 300 / 419;
  width: 30rem;
  height: auto;
  left: -25%;
  top: -25%;
  z-index: 10;
  border-radius: 1.5rem;
}
