#control-panel {
  background-image: url('../../public/img/blackat-trim-flip.png');
  background-size: 260px;
  background-repeat: no-repeat;
  background-position: 20px 0;
  width: 20em;
  padding-top: 100px;
  padding-left: 2em;
  padding-right: 3em;
  position: relative;
  top: -100px;
  z-index: 0;
}

#addendum {
  font-size: 1.1rem;
}
