#control-panel {
  background-image: url('../../public/img/blackat-trim-flip.png');
  background-size: 260px;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-right: 3em;
  margin-bottom: -100px;
  position: relative;
  top: -100px;
  z-index: 0;
}

#addendum {
  font-size: 1.1rem;
}
