#control-panel {
  padding-right: 3em;
  z-index: 0;
}

@media (max-width: 700px) {
  #control-panel {
    padding-right: 0;
  }
}

#filters {
  margin-bottom: 1em;
}

#addendum {
  font-size: 1.1rem;
}

#control-display-toggle {
  background: none;
  border: none;
  padding: 0;
  font-size: 2.4rem;
}
#control-display-toggle.closed {
  margin: 0.5rem 3rem 7rem 0;
  color: #bbb;
}
