.filter-heading {
  background: none;
  border: none;
  padding: 0;
}
.filter-heading h3 {
  margin: 0.2rem 0;
  font-size: 1.8rem;
}
.filter-heading:hover h3 {
  color: var(--highlight-colour);
}
.filter-heading h3 > svg {
  fill: currentColor;
  height: 1.4rem;
  transition: 0.2s ease-in-out;
}

.filter-heading h3.expanded > svg {
  transform: rotate(90deg);
}
